In [1]:
from geopy.geocoders import Nominatim
from geopy import distance
import geopandas as gpd
from shapely.geometry import Point, Polygon
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
geolocator = Nominatim(user_agent="Tremaine Johns")

def get_longLat(city,state,country):
    location = geolocator.geocode(str(city)+','+str(state)+','+str(country))
    return location.longitude, location.latitude

In [3]:
# get data
data = pd.read_csv('../data/crm_address.csv')
data.sort_values('cnt',ascending=False,inplace=True)
data['longitude'] = 'N/A'
data['latitude'] = 'N/A'

In [4]:
#remove unwanted addresses
data = data.loc[(data['state_name'] != 'Alberta')&(data['state_name'] != 'American Samoa')&
                 (data['state_name'] != 'British Columbia')&(data['state_name'] != 'Canal Zone')&
                 (data['state_name'] != 'Federated States of Micronesia')&(data['state_name'] != 'Guam')&
                 (data['state_name'] != 'Marshall Islands')&(data['state_name'] != 'Military Americas')&
                 (data['state_name'] != 'Military Europe')&(data['state_name'] != 'Military Pacific')&
                 (data['state_name'] != 'New Brunswick')&(data['state_name'] != 'Northern Mariana Islands')&
                 (data['state_name'] != 'Northwest Territories')&(data['state_name'] != 'Nova Scotia')&
                 (data['state_name'] != 'Ontario')&(data['state_name'] != 'Prince Edward Island')&
                 (data['state_name'] != 'Quebec')&(data['state_name'] != 'Republic of Palau')&
                 (data['state_name'] != 'Saskatchewan')&(data['state_name'] != 'Virgin Islands')&
                 (data['state_name'] != 'Yukon')]

In [15]:
batch = data.loc[(data['country_name'].notnull()) & (data['state_name'].notnull()) &
                (data['longitude']=='N/A')]
#batch.reset_index(inplace=True)

In [26]:
batch = data.head(100)
batch['state_name'].loc[batch['state_name'] == 'District of Columbia'] = 'D.C.'

/Users/tremainejohns/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/tremainejohns/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
batch

,city,state_name,country_name,cnt,longitude,latitude
23288,Washington,D.C.,United States,501102,N/A,N/A
22513,Arlington,Virginia,United States,81038,N/A,N/A
21720,Alexandria,Virginia,United States,60646,-86.8164,33.2443
7603,Bethesda,Maryland,United States,55965,-86.3214,34.0315
11498,Silver Spring,Maryland,United States,51393,-86.4832,31.3085
...,...,...,...,...,...,...
2842,Boulder,Colorado,United States,2052,N/A,N/A
6963,Louisville,Kentucky,United States,2030,N/A,N/A
7294,Indianapolis,Indiana,United States,2019,N/A,N/A
17228,Chapel Hill,North Carolina,United States,2004,N/A,N/A
22606,Fairfax Station,Virginia,United States,1934,-86.443,34.7493

In [28]:
for index, row in batch.iterrows():
    try:
        long, lat = get_longLat(row.city,row.state_name, row.country_name)
        data['longitude'].iloc[index]=long
        data['latitude'].iloc[index]=lat
    except (AttributeError,IndexError):
        continue

/Users/tremainejohns/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [29]:
print(len(data[data['longitude']=='N/A']))
print(len(data))
print(len(batch[batch['longitude']=='N/A']))
print(len(batch))

14024
28769
37
100

In [22]:
data.head(10)

,city,state_name,country_name,cnt,longitude,latitude
23288,Washington,District of Columbia,United States,501102,N/A,N/A
22513,Arlington,Virginia,United States,81038,N/A,N/A
21720,Alexandria,Virginia,United States,60646,-86.8164,33.2443
7603,Bethesda,Maryland,United States,55965,-86.3214,34.0315
11498,Silver Spring,Maryland,United States,51393,-86.4832,31.3085
...,...,...,...,...,...,...
2842,Boulder,Colorado,United States,2052,N/A,N/A
6963,Louisville,Kentucky,United States,2030,N/A,N/A
7294,Indianapolis,Indiana,United States,2019,N/A,N/A
17228,Chapel Hill,North Carolina,United States,2004,N/A,N/A
22606,Fairfax Station,Virginia,United States,1934,-86.443,34.7493

In [14]:
data.to_csv('../data/address_coordinates.csv',index=False)

In [ ]:
#pd.DataFrame(np.unique(batch[['state_name']].to_numpy()),columns=['State']).to_csv('../data/raw_state.csv')

In [ ]:
# distance between lauryn home and tremaine home | geodisc
print(distance.distance(lauryn_home, tremaine_home).miles)

In [ ]:
# greater circle
print(distance.great_circle(lauryn_home, tremaine_home).miles)

In [ ]:
df = pd.DataFrame([lauryn_home, tremaine_home, dc_spot],
                 columns=['Latitude','Longitude'])

In [ ]:
df

In [ ]:
usa = gpd.read_file('../data/states/States_shapefile.shp')

In [ ]:
usa.head()

In [ ]:
usa.plot()

In [ ]:
usa[usa.State_Code !='AK'].plot()

In [ ]:
usa

In [ ]:
# get geometry
geometry = [Point(xy) for xy in zip(df['Longitude'],df['Latitude'])]
geometry[:3]

In [ ]:
crs = {'init':'epsg:4326'}
geo_df = gpd.GeoDataFrame(df,
                         crs = crs,
                         geometry = geometry)

geo_df

In [ ]:
fig,ax = plt.subplots(figsize = (15,15))
usa[usa.State_Code != 'AK'].plot(ax = ax, alpha=0.4, color='grey')
geo_df.plot(ax=ax, markersize = 50, color = 'red',
           marker=".", label="Address")
plt.legend(prop={'size':14})